body{
  margin: 0;
  text-align:center;
  font-family: 'Merriweather', serif;

}
h1{
  font-size: 90px;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{

font-family: 'Montaga', serif;
font-size: 2.5rem;
}
h3{

font-family: 'Montaga', serif;
}

.top-container{
  background-color: #e1f4f3;
  position:relative;
}
.middle-container{
  background-color:grey;

}
.bottom-container{
  background-color:grey;
}
.pro{
  text-decoration: underline;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;

}
.top-cloud{
  position:relative;
  left: 310px;


}
.profile{
  border-radius: 50%;
}
